<!DOCTYPE html>
<html lang="en">	
<head>
	<meta charset="utf-8">
	<title>Quibble</title>
	<link rel="stylesheet" href="../css/cssv4.css">
	<script src="../js/jquery.js"></script>
	<script src="../js/modernizr.js"></script>		
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="container">
	<header id="top-banner">
		<span id="logo"><img src="../images/logo/logo.png"></span><!-- /#logo -->
		<span id="search-bar">Search</span><!-- /#search-bar -->
	</header><!-- /#top-banner -->
	<div id="index-content">
		<section id="left">
			<h2>Meet Quibble</h2>
			<p>Quibble is a social networking site where you are completely unrestricted.
				 Say whatever you want, whenever you want, wherever you want, and with who
				 you want.</p>
			<h2>Why Quibble?</h2>
			<p>Why not Quibble?  Quibble leaves every other social network in the dust.
				 No longer are you limited - here at Quibble you can say exactly what's on 
				 your mind.</p>
			<p>Post from your account or act anonymously.  It's all up to you.</p>
		</section><!-- /#left -->
		<section id="right">
			<h2>Sign Up</h2>
			<p>Want to sign up?  It's completely free and you'll have a blast if you do</p>
			<hr>
			<form id="signup-form" method="post" enctype="multipart/form-data">
		  	<table>
				<tr>
					<td class="label">First Name</td>
					<td><input type="text" name="first_name"></td>	
				</tr>
				<tr>
					<td class="label">Last Name</td>
					<td><input type="text" name="last_name"></td>
				</tr>
					<td class="label">Email</td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td class="label">Password</td>
					<td><input type="password" name="password"</td>
				</tr>
				<tr>
					<td class="label">Confirm Password</td>
					<td><input type="password" name="confirm_password"></td>
				</tr>
				<tr>
					<td class="label">Birthday</td>
					<td><input type="date" name="birthday"</td>
				</tr>
				<tr>
					<td><input type="reset" class="button"></td>
					<td><input type="submit" class="button"></td>
				</tr>
			</table>
			</form><!-- /#signup-form -->
		</section><!-- /#right -->
	</div><!-- /#index-content -->
	<footer id="about">
		<span id="primary">Quibble, The New Social Network</span>
		<span id="bio">Quibble!</span>
	</footer><!-- /#about -->
</div><!-- /#container -->
</body>
</html>
