{% extends "loginsignup.html" %}
{% block content %}
<div id="index-content">
	<section id="left">
		<h2>Meet Quibble</h2>
		<p>Quibble is a social networking site where you are completely unrestricted.
			 Say whatever you want, whenever you want, wherever you want, and with who
			 you want.</p>
		<h2>Why Quibble?</h2>
		<p>Why not Quibble?  Quibble leaves every other social network in the dust.
			 No longer are you limited - here at Quibble you can say exactly what's on 
			 your mind.</p>
		<p>Post from your account or act anonymously.  It's all up to you.</p>
	</section><!-- /#left -->
	<section id="right">
		<h2>Login</h2>
		<p>What are you waiting for? Log in now!</p>
		<hr>
		<form method="post" id="login-form">			
		<table>
		  <tr>
			<td class="label">Username: </td>
			<td><input type="text" name="username" value="{{username}}"></td>    
		  </tr>
		  <tr>
			<td class="label">Password: </td>
			<td><input type="password" name="password" value="{{password}}"></td>    
		  </tr>
		  <tr>
			<td class="label">Remeber me?</td>
			<td><input type="checkbox" name="remember" value="true"></td>
		  </tr>
		  <tr>
			<td><input type="submit" class="button"></td>
			<td><div class="error">{{error}}</div></td>
		  </tr>
		</table>
		</form><!-- /#login-form-->	
		<br>
		<h2>Don't Have an Account?</h2>
		<p>Make one now!  It's completely free.  Click <a href="/signup">here</a>.</p>
	</section><!-- /#right -->
</div><!-- /#index-content -->
{% endblock %}
